certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.12
django-cors-headers==2.3.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
gunicorn==19.7.1
idna==2.6
psycopg2-binary==2.7.4
PyJWT==1.5.3
pytz==2018.3
requests==2.18.4
urllib3==1.22
dnspython==1.15.0
redis==2.10.6
django-filter==2.0.0
django-redis==4.10.0
celery==4.2.0
pexpect==4.6.0
kombu==4.2.2.post1
wordcloud==1.7.0
